.decks {
	position: absolute;
	top: calc(var(--pixel-size) * 7);
}

.deck {
	margin: calc(var(--pixel-size) * 2);
	perspective: 1000px;
	height: calc(var(--pixel-size) * 20);
}

.card {
  position: relative;
  height: calc(var(--pixel-size) * 20);
  width: calc(var(--pixel-size) * 12);
  margin-bottom: calc((var(--pixel-size) * -19.5));
  transition: all .5s cubic-bezier(.55,.06,.68,.19);
  transform-style: preserve-3d;
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: var(--pixel-size) solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card:nth-child(2n) .front,
.card:nth-child(2n) .back {
  border-color: rgba(0, 0, 0, 0.3);
}

.card:nth-child(2) { margin-left: calc((var(--pixel-size) * 0.5));}
.card:nth-child(3) { margin-left: calc((var(--pixel-size) * 1.0));}
.card:nth-child(4) { margin-left: calc((var(--pixel-size) * 1.5));}
.card:nth-child(5) { margin-left: calc((var(--pixel-size) * 2.0));}
.card:nth-child(n+6) {
  margin-left: calc((var(--pixel-size) * 2.5));
  margin-bottom: calc(var(--pixel-size) * -20);
}

.policies .card .front,
.policies .card .back {
  background: #fff8e3;
}

.blessings .card .front,
.blessings .card .back {
  background: #2693ad;
}

.damnations .card .front,
.damnations .card .back {
  background: #da7474;
}


.card.flip {
  transform: translateY(50%) rotateY(180deg);
  box-shadow: 0 0 var(--pixel-size) rgba(0, 0, 0, 0.2);
}

.card .front {
  display: flex;
  font-size: 8vh;
  user-select: none;
}

.card .back {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotateY(180deg);
  text-align: center;
}
