html, body {
	margin: 0;
  height: 100%;
}

body {
  font-size: calc(var(--pixel-size) * 2);
  background: linear-gradient(#4a5360 40%,#72795c 40%);
  box-sizing: border-box;
  padding: var(--pixel-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Ubuntu", "Twemoji Mozilla", sans-serif;
  transition: opacity 100ms ease-in;
  image-rendering: pixelated;
  image-rendering: optimizespeed;

  --pixel-size: 10px;
  --dot-size: var(--pixel-size);
}

.btn {
  font-size: inherit;
}

.hidden {
  display: none !important;
}

.title {
  color: #fff8e3;
  margin-bottom: var(--pixel-size);
}

h1 {
  --dot-size: calc(var(--pixel-size) * 2);
  margin: 0;
  z-index: 2  ;
}
