.map {
  background-image: url('background.png');
  background-size: 100%;
  animation: map 2s infinite;
  height: calc(var(--pixel-size) * 64);
  width: calc(var(--pixel-size) * 64);
  position: relative;
  box-shadow: 0 0 0 calc(var(--pixel-size) * 2) #c4bfb0;
  margin: calc(4 * var(--pixel-size));
  overflow: hidden;
}

@keyframes map {
  0% {
    background-image: url('background.png');
  }
  50% {
    background-image: url(map_overlay.png), url(background.png);
  }
}

.map > span {
  position: absolute;
  display: flex;
  color: #504c40;
  text-transform: uppercase;
  font-weight: bold;
  min-height: calc(var(--pixel-size) * 9);
}

.map .tiny-font {
	position: absolute;
  opacity: 0.8;
}

.bank {
  bottom: calc(var(--pixel-size) * 4);
  left: calc(var(--pixel-size) * 4);
}

.bank .tiny-font,
.court .tiny-font,
.temple .tiny-font {
  bottom: calc(var(--pixel-size) * -3);
}

.eden .text, .hell .text {
	top: calc(var(--pixel-size) * 9);
}

.court {
  bottom: calc(var(--pixel-size) * 4);
  right: calc(var(--pixel-size) * 4);
  justify-content: flex-end;
}
.temple {
  top: calc(var(--pixel-size) * 25);
  left: 50%;
  justify-content: center;
}

.eden {
  top: calc(var(--pixel-size) * 1);
  left: calc(var(--pixel-size) * 4);
}

.hell {
  top: calc(var(--pixel-size) * 1);
  right: calc(var(--pixel-size) * 4);
  justify-content: flex-end;
}

.plaza {
	bottom: calc(var(--pixel-size) * 4);
	left: 50%;
}

.char {
  background-image: url('characters.png');
  background-size: calc(var(--pixel-size) * 20) calc(var(--pixel-size) * 27);
  height: calc(var(--pixel-size) * 9);
  width: calc(var(--pixel-size) * 4);
  display: inline-block;
}

.map .char {
  position: absolute;
  margin-left: calc(var(--pixel-size) * -2);
  top: 0;
  left: 0;
  transition: transform 1s linear;
  transition-timing-function: steps(10);
}

.char.animated {
  animation: walk 0.3s steps(1) infinite;
}

.temple .char:nth-child(2n):last-child,
.temple .char:only-child {
	margin-right: 0;
}

.devotee {
  background-position-x: 0%;
}

.saint {
  background-position-x: 100%;
}

.baal {
  background-position-x: 25%;
}

.marx {
  background-position-x: 75%;
}

.dissident {
  background-position-x: 50%;
}

@keyframes walk {
  0% {
    background-position-y: 50%;
  }
  50% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 50%;
  }
}
