.map {
  background-image: url('background.png');
  background-size: 100%;
  height: 60vh;
  width: 60vh;
  max-height: 60vw;
  max-width: 60vw;
  image-rendering: pixelated;
  image-rendering: optimizespeed;
}
