.actions {
  text-align: center;
  user-select: none;
}

.btn {
	background: #fff8e3;
	color: #504c40;
	padding: var(--pixel-size);
	line-height: 1;
	display: inline-flex;
  margin-left: calc(var(--pixel-size) * 2);
  position: relative;
  flex-direction: column;
  align-items: center;
  font-size: calc(var(--pixel-size) * 3);
}

.btn::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: #504c40;
	top: var(--pixel-size);
	right: var(--pixel-size);
	z-index: -1;
}

.btn:hover:not(.disabled) {
  background: white;
}

.btn:not(.disabled):active,
.btn:not(.disabled).pressed {
  top: var(--pixel-size);
  right: var(--pixel-size);
}

.btn:not(.disabled):active::before,
.btn:not(.disabled).pressed::before {
  top: 1px;
  right: 1px;
}

.labels div {
  display: inline-block;
  padding: 1em 0.5em 0;
}

.disabled {
  background: #c4bfb0;
}

.disabled * {
  opacity: 0.7;
}

.disabled::before {
	opacity: 0.7;
}

.btn .char {
  margin-top: calc(var(--pixel-size) * 1);
}

.message {
  line-height: 1.5;
  text-align: left;
  width: calc(var(--pixel-size) * 64);
}
