.tiny-font {
  --dot-height: var(--dot-size) / 2;
  --dot-width: var(--dot-size) / 2;
}

.letter {
  display: inline-flex;
  flex-wrap: wrap;
  width: calc(3 * var(--dot-width));
  height: calc(5 * var(--dot-height));
  /* margin-top: calc(1 * var(--dot-height)); */
}

.letter.w4 {
  width: calc(4 * var(--dot-width));
}

.letter.w1 {
  width: calc(1 * var(--dot-height));
}

.letter + .letter {
  margin-left: calc(0.5 * var(--dot-width));
}

.letter > i {
  width: calc(1 * var(--dot-width));
  height: calc(1 * var(--dot-height));
  /*border: calc(0.1 * var(--dot-height)) solid transparent;
  margin: calc(-0.1 * var(--dot-height));*/
  /* box-shadow: 0 0 calc(.1 * var(--dot-height)) calc(.1 * var(--dot-height)) currentColor; */
}

i[black] {
  background: currentColor;
  box-shadow: 1px 0 0 0 currentColor, 0 1px 0 0 currentColor, 1px 1px 0 0 currentColor;
}

i:not([black]) {
  color: transparent;
}

.word {
  white-space: nowrap;
  display: inline-block;
  margin-right: calc(2 * var(--dot-width));
  vertical-align: middle;
  font-size: 0;
}

.word:last-child {
  margin-right: 0;
}
